.conclusao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10vh;

}

.parabens{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(72,44,134);
    background: linear-gradient(100deg, rgba(72,44,134,1) 0%, rgba(72,44,134,0.7) 100%);
    color: #fff;
    margin: 10vh 0;
    padding: 10px 20px;
    align-items: center;
    & h4{
        font-size: 2rem;
    }

    & iframe{
        margin-bottom: 5vh;
    }
}

iframe {
    width: 800px;
    height: 450px;
  }
  
  @media (max-width: 768px) {
    iframe {
      width: auto;
      height: auto;
    }
  }